*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    --offset: 20px;
}
html{
    --primary-color1: #0ea5e9;
    --primary-color2:#f5f5f5;
    --primary-color3:#171717;
    --primary-color4:#262626;
    --primary-color5:#0284C7;
    --primary-color6:#0369a1;
    --primary-color7:#e5e5e5;
    --primary-color8:#a3a3a3;
    --primary-color9:#075985;
    --primary-color10:#0c4a6e;
    --primary-color11:#e0f2fe;
    --primary-color12: #f0f9ff;
    
}
.content{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    
}
.head-line{
    background-color: var(--primary-color5);
    padding: 10px 0px;
    position: fixed;
    right: 0;
    left: 0;
}
.head-line__items{
    display: flex;
    justify-content: space-between;
}
.head-line__navigation{
    display:flex;
    gap: 30px;
}
.head-line__navigation_mobile{
    display: none;
}

.head-line__navigation_item{
    color: var(--primary-color2);
    font-weight: 600;
    font-size: 22px;
}
.head-line__navigation_item:hover{
    color:var(--primary-color4);
    cursor: pointer;
}
.dentoplus{
    font-size: 26px;
    font-weight: 700;
    color:var(--primary-color2);

}
.dentoplus-menu__icon{
    display: none;
}
.dentoplus-menu__closeicon{
    display: none;
}
.link{
    color: var(--primary-color2);
    text-decoration: none;
}
.link:hover{
    color: var(--primary-color8);
}

.head-image{
    background-image: url(dentoplus-images/hero.png);
    background-size: cover;
    padding-top: 100px;
    max-width: 100%;
}
.headtext-container{
    width: calc(100%/2);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.headtext-container__title{
    font-size: 56px;
    font-weight: 600;
    color: var(--primary-color3);
    max-width: 100%;

}
.headtext-container__titledento{
    color: var(--primary-color5);
}
.headtext-container__text{
    color:var(--primary-color6);
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
}
.dentoplus-menu__button{
    outline: none;
    border:none;
    border-radius: 0%;
    background-color: var(--primary-color5);
    box-shadow: none;
}
button{
    background-color: #0ea5e9;
    border-radius: 10px;
    color: var(--primary-color2);
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 50px;
    box-shadow:0px 5px 15px var(--primary-color4);
}
button:hover{
    background-color: var(--primary-color6);
    cursor: pointer;
    transition: 500ms;
}
.headtext-container__button{
    padding-bottom: 50px;
}
.title{
    color: var(--primary-color6);
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    margin: 50px 0px;
}
.caries-title{
    font-size: 48px;
}
.caries-content{
    padding-top: 50px;
}
.caries-container{
    display:flex;
    gap:20px;

}
.caries-container__text{
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size: 24px;
    color: var(--primary-color6);
    gap:30px;

}
.caries-container__image{
    border-radius: 20px;
    width: 30%;
}
.price-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 18px;
    color: var(--primary-color9);
    font-weight: 600;
}
.price-container__item{
    border-radius: 30px;
    padding: 10px 40px;
    margin: 5px 40px;
    display: flex;
    align-items: center;
    gap: 5px;
;
}
.price-container__item1{
    background-color:var(--primary-color12);
}
.price-container__item2{
    background-color: var(--primary-color11);
    
}
.span1{
    color:var(--primary-color1);
}
.span2{
    color: #26992A;
}
.service-area{
    background-color: var(--primary-color5);
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 200px;
}
.service-content{
    display: flex;
    gap: 10px;

}
.service-title{
    margin-top: 150px;
}
.service-container__items{
    display: flex;
    gap: 30px;
    
}
.service-container__item{
    display: flex;
    flex-direction: column;
    gap:70px;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 2px 2px 10px var(--primary-color4);
}
.service02{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-3.png);
    background-size: cover;
    background-position: center;
}
.service03{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-2.png);
    background-size: cover;
    background-position: center;
}
.service04{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-1.png);
    background-size: cover;
    background-position: center;
   
}
.service-container__item_number{
    font-size: 18px;
    color: var(--primary-color2);
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 5px;
    text-shadow:  1px 1px 1px #171717;
}
.service-container__item_name{
    color:var(--primary-color2);
    text-shadow: 1px 1px 1px   #171717;
    margin-left: 5px;
}
.service-container_item__mini{
    display: flex;
    justify-content: space-between;
    
}
.arrow-icon{
    margin-top: 45px;
}
footer{
    background-color: #F0F9FF;
    color:var(--primary-color9);
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}
.footer__firsrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__firstrow_social{
    display:flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;

}
.footer__secondrow{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.footer__secondrow_title{
    display: flex;
    font-weight: 600;
    gap: 5px;
}
.footer__thirdrow{
    display: flex;
    gap: 10px;
    justify-content: right;
    padding-left: 10px;
}
.footer__thirdrow_politic{
    border-left: 3px solid var(--primary-color6);
    padding-left: 10px;
}
@media(max-width:1024px){
    .head-image{
        background-position: center;
        background-size: cover;
    }
    .content{
        margin:0 10px;
    }
    .price-container__item{
        flex-wrap: wrap;
        height: 70px;
    }
}
@media(max-width:768px){
    .head-line__items{
        flex-direction: column;
    }
    .head-line__navigation{
        justify-content: center;
        max-width: 100%;
    }
    .headtext-container{
        justify-content: center;
    }
    .title{
        font-size: 36px;
    }
    .caries-container{
        margin-bottom: 100px;
    }
    .caries-container__text{
        width: calc(100%/2);
        font-size: 18px;
    }
    .caries-container__image{
        width: calc(100%/2);
    }
    .service-content{
        justify-content: center;
        align-items: center;
    }
    .price-container__item{
        flex-wrap: wrap;
        height: 100px;
    }
    .footer__secondrow{
        gap:30px;
    }

}
@media(max-width:600px){
    .content{
        margin: 0 20px;
    }
    .head-line__items{
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .head-line__navigation{
        display: none;
    }
    .head-line__navigation_mobile{
        gap:30px;
        display: none;
        flex-direction: column;
    }
    .head-line__navigation_item{
        font-size: 20px;
        border: 1px solid var(--primary-color7);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        padding: 5px 0px;
    }
    .dentoplus-menu__icon{
        display: flex;
    }
    .head-line__navigation_item{
        font-size: 14px;
    }
    .headtext-container__title{
        font-size: 32px;
    }
    .title{
        font-size: 32px;
    }
    .caries-container__image{
        display: none;
    }
    .caries-container__text{
        width: 100%;
        font-size: 18px;
    }
    .service-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .service-container__items{
        height: 200px;
        flex-direction: column;
        overflow: scroll;
    }
    .service-area{
        margin-bottom: 50px;
    }
    .arrow-icon{
        display: none;
    }
    .title{
        font-size: 30px;
    }
    .price-container__item{
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .footer__firsrow{
        flex-wrap: wrap;
        max-width: 100%;
        gap:10px;
    }
    .footer__secondrow{
        flex-direction: column;
        gap:30px;
    }
}
@media(max-width:320px){
    .headtext-container__title{
        font-size: 22px;
    }
    .head-line__navigation_item{
        font-size: 12px;
    }
}

