*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    --offset: 20px;
}
html{
    --primary-color1: #0ea5e9;
    --primary-color2:#f5f5f5;
    --primary-color3:#171717;
    --primary-color4:#262626;
    --primary-color5:#0284C7;
    --primary-color6:#0369a1;
    --primary-color7:#e5e5e5;
    --primary-color8:#a3a3a3;
    --primary-color9:#075985;
    --primary-color10:#0c4a6e;
    
}
.content{
    max-width: 1024px;
    margin: 0 auto;
    
}
.head-line{
    background-color: var(--primary-color5);
    padding: 10px 0px;
}
.head-line__items{
    display: flex;
    justify-content: space-between;
}
.head-line__navigation{
    display:flex;
    gap: 20px;
}
.head-line__navigation_item{
    color: var(--primary-color2);
    font-weight: 400;
    font-size: 16px;
}
.head-line__navigation_item:hover{
    color:var(--primary-color4);
    cursor: pointer;
}
.dentoplus{
    font-size: 18px;
    font-weight: 600;
    color:var(--primary-color2);

}
.title{
    color: var(--primary-color6);
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    margin: 50px 0px;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container__text{
    font-size: 24px;
    font-weight: 600;
    color: #737373;
    text-align: center;
}
.text-container__search{
    display: flex;
    width: 980px;
    height: 63px;
    margin: 100px 50px;
    background-color: #E0F2FE;
    border: 1px solid #BAE6FD;
    border-radius: 20px;
    align-items: center;
    padding-left: 30px;
}
.text-container__search_icon{
    width: 50%;
}
.text-container__searchtext{
    font-size: 19px;
    font-weight: 400;
    color: #A3A3A3;
    border-left: 2px solid #A3A3A3;
    padding-left: 10px;
}
.doctors-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    gap: 10px;
}
.doctors-container__item{
    width: calc(100%/3 - var(--offset));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}
.doctors-container__item_imagebox{
    border-radius: 10px;
}
doctors-container__item_image{
    border-radius: 10px;

}
.doctors-container__item_name{
    color: #404040;
    font-size: 18px;
    font-weight: 400;
}
.doctors-container__item_jobtitle{
    color:#404040;
    font-size: 18px;
    font-weight: 700;
}
.doctors-container__item_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 244px;
    border: 1px solid #0284C7;
    border-radius: 10px;
    color: #0284C7;
    font-size: 18px;
    font-weight: 700;

}
footer{
    background-color: #F0F9FF;
    color:var(--primary-color9);
    font-size: 18px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}
.footer__firsrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__firstrow_social{
    display:flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;

}
.footer__secondrow{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.footer__secondrow_title{
    display: flex;
    font-weight: 600;
    gap: 5px;
}
.footer__thirdrow{
    display: flex;
    gap: 10px;
    justify-content: right;
}
.footer__thirdrow_politic{
    border-left: 3px solid var(--primary-color6);
}