*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    --offset: 20px;
}
html{
    --primary-color1: #0ea5e9;
    --primary-color2:#f5f5f5;
    --primary-color3:#171717;
    --primary-color4:#262626;
    --primary-color5:#0284C7;
    --primary-color6:#0369a1;
    --primary-color7:#e5e5e5;
    --primary-color8:#a3a3a3;
    --primary-color9:#075985;
    --primary-color10:#0c4a6e;
    
}
.content{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    
}
.head-line{
    background-color: var(--primary-color5);
    padding: 10px 0px;
    position: fixed;
    right: 0;
    left: 0;
}
.head-line__items{
    display: flex;
    justify-content: space-between;
}
.head-line__navigation{
    display:flex;
    gap: 30px;
}
.head-line__navigation_item{
    color: var(--primary-color2);
    font-weight: 600;
    font-size: 22px;
}
.head-line__navigation_item:hover{
    color:var(--primary-color4);
    cursor: pointer;
}
.dentoplus{
    font-size: 26px;
    font-weight: 700;
    color:var(--primary-color2);

}
.dentoplus-menu__icon{
    display: none;
}
.dentoplus-menu__closeicon{
    display: none;
}
.link{
    color: var(--primary-color2);
    text-decoration: none;
}
.link:hover{
    color: var(--primary-color8);
}
.head-image{
    background-image: url(dentoplus-images/hero.png);
    background-size: cover;
    padding-top: 100px;
    max-width: 100%;
}
.headtext-container{
    width: calc(100%/2);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.headtext-container__title{
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color3);
    max-width: 100%;

}
.headtext-container__titledento{
    color: var(--primary-color5);
}
.headtext-container__text{
    color:var(--primary-color6);
    font-size: 16px;
    box-sizing: border-box;
    max-width: 100%;
}
button{
    background-color: #0ea5e9;
    border-radius: 10px;
    color: var(--primary-color2);
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 50px;
    box-shadow:0px 5px 15px var(--primary-color4);
}
button:hover{
    background-color: var(--primary-color6);
    cursor: pointer;
    transition: 500ms;
}
.headtext-container__button{
    padding-bottom: 50px;
}
.title{
    color: var(--primary-color6);
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0px;
}
.service-area{
    background-color: var(--primary-color5);
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
}
.service-content{
    display: flex;
    gap: 10px;

}
.service-container__items{
    display: flex;
    gap: 30px;
    
}
.service-container__item{
    display: flex;
    flex-direction: column;
    gap:70px;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 2px 2px 10px var(--primary-color4);
    
    
    
}
.service02{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-3.png);
    background-size: cover;
    background-position: center;
}
.service03{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-2.png);
    background-size: cover;
    background-position: center;
}
.service04{
    background-image: linear-gradient(to right, var(--primary-color6) 10%, transparent 60%), url(dentoplus-images/service-1.png);
    background-size: cover;
    background-position: center;
   
}
.service-container__item_number{
    font-size: 22px;
    color: var(--primary-color2);
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 5px;
    text-shadow:  1px 1px 1px #171717;
}
.service-container__item_name{
    color:var(--primary-color2);
    text-shadow: 1px 1px 1px   #171717;
    margin-left: 5px;
}
.service-container_item__mini{
    display: flex;
    justify-content: space-between;
    
}
.arrow-icon{
    margin-top: 45px;
}
.about-clinic__area{
    background-image:url(dentoplus-images/background-1.png);
    background-size: cover;
}
.about-clinic__container_title{
    margin:0;
}
.about-clinic__container{
    padding: 50px 0px;
}
.about-clinic__container_text{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin:50px 0px;
    font-size: 18px;
}
.about-clinic__container__button{
    display: flex;
    justify-content: right;
    margin-top: 50px;
}
.content-feedback{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
}
.content-feedback__item{
    display: flex;
    border: 1px solid var(--primary-color7);
    border-radius: 10px;
    box-shadow: 1px 2px #d4d4d4;
    padding: 15px;
    gap:20px;
    width: calc(100%/2 - var(--offset));
    max-width: 100%;
    margin-top: 20px;
}
.feedback-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.feedback-box__name{
    font-size: 14px;
    font-weight: 400;
    color:var(--primary-color1);

}
.feedback-box__text{
    color: var(--primary-color8);
    font-size: 12px;
}
.branch-container{
    background-image: url(dentoplus-images/map-background.png);
    background-color: rgba(255, 255, 255, 0.789);
    background-blend-mode: overlay;

}
.branch-container__title{
    padding-top:50px;
}
.branch-container__items{
    display:flex;
    gap:20px;
    padding-top:25px;
    padding-bottom: 50px;
}
.branch-container__item{
    display: flex;
    flex-direction: column;
    border:1px solid var(--primary-color5);
    border-radius: 10px;
    padding: 20px;
    width: calc(100%/3 - var(--offset));
    max-width: 100%;
    background-color: white;
    opacity: 1.5;
    gap: 50px;
    font-size: 14px;
    color: var(--primary-color9);
    font-weight: 500;
}
.branch-container__item-adress{
    display:flex;
    gap:25px;
    align-items: center;
}
.branch-container__item-worktime{
    display:flex;
    gap:20px;

}
.item-worktime__title{
    color: var(--primary-color10);
    font-weight: 600;

}
.branch-container_item-contact{
    color: var(--primary-color10);
    font-weight: 600;
}
footer{
    background-color: #F0F9FF;
    color:var(--primary-color9);
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    gap: 20px;
}
.footer__firsrow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__firstrow_social{
    display:flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;

}
.footer__secondrow{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.footer__secondrow_title{
    display: flex;
    font-weight: 600;
    gap: 5px;
}
.footer__thirdrow{
    display: flex;
    gap: 10px;
    justify-content: right;
    padding-left: 10px;
}
.footer__thirdrow_politic{
    border-left: 3px solid var(--primary-color6);
    padding-left: 10px;
}

@media(max-width:1024px){
    .head-image{
        background-position: center;
        background-size: cover;
    }
    .content{
        margin: 0 20px;
    }
}
@media(max-width:768px){
    .content{
        margin: 0 20px;
    }
    .head-line__items{
        flex-direction: column;
        gap: 10px;
    }
    .head-line__navigation{
        justify-content: center;
        max-width: 100%;
    }
    .headtext-container{
        align-items: center;
        justify-content: center;
    }
    .service-content{
        justify-content: center;
        align-items: center;
    }
    .branch-container__item{
        width: calc(100%/3);
        margin: 0 10px;
    }
    .footer__secondrow{
        gap:30px;
    }

}
@media(max-width:600px){
    .content{
        margin: 0 20px;
    }
    .head-line__items{
        flex-direction: column;
        gap: 10px;
    
    }
    .head-line__navigation{
        gap:10px;
    }
    .head-line__navigation_item{
        font-size: 14px;
    }
    .headtext-container__title{
        font-size: 32px;
    }
    .headtext-container__button{
        margin: auto;
    }
    
    .headtext-container{
        margin: 0;
    }
    .service-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .service-container__items{
        height: 200px;
        flex-direction: column;
        overflow: scroll;
    }
    .service-area{
        margin-bottom: 50px;
    }
    .arrow-icon{
        display: none;
    }
    .about-clinic__container{
        flex-wrap: wrap;
    }
    .content-feedback{
        flex-direction: column;
    }
    .content-feedback__item{
        flex-direction: column;
        width: calc(100% - var(--offset));
        align-items: center;
        
    }
    .branch-container__items{
        flex-direction: column;
        align-items: center;
        
    }
    .branch-container__item{
        width: calc(100% - var(--offset));
    }
    
    
    .footer__firsrow{
        flex-wrap: wrap;
        max-width: 100%;
        gap:10px;
    }
    .footer__secondrow{
        flex-direction: column;
        gap:30px;
    }
    
}
@media(max-width:320px){
    .headtext-container__title{
        font-size: 22px;
    }
    .head-line__navigation_item{
        font-size: 12px;
    }
}
